/* ----- Общие стили ----- */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.content {
  min-width: 900px;
  background-color: #849d8f;
}

.site-wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-image: url(../img/product-images/ice-creams-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/ice-creams-2.png");
}

.site-wrapper::after {
  background-image: url("img/ice-creams-3.png");
}

.wrapper {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-header {
  padding-top: 10px;
  min-height: 40px;
}

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
}

.advantages,
.section-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.product-container {
  max-width: 1200px;
  box-sizing: border-box;
}

.gllacy-rewiev {
  position: relative;
  background: #ebdfc6 url(../img/fon/block-4.jpg);
  padding: 27px 20px;
  border-radius: 15px;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
  background: url(../img/fon/map.jpg) no-repeat 50% 0;
  overflow: hidden;
}

.main-footer {
  max-width: 1200px;
  margin-top: 20px;
}

.modal {
  display: none;
}

/* ----- Cтили ----- */

.main-header-navigation {
  display: flex;
  flex-direction: row;
  max-height: 100px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  order: 0;
}

.main-navigation-wrapper {
  width: 1200px;
  margin-bottom: 60px;
}

.main-navigation-container {
  width: 100%;
}

.main-navigation-wrapper .main-navigation-container {
  display: flex;
  align-items: center;
}

.site-navigation>li {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 0px;
  padding-bottom: 5px;
  vertical-align: top;
  z-index: 1;
}

.site-navigation a {
  display: block;
  padding: 2px 15px;
  white-space: nowrap;
}

.user-navigation,
.site-navigation {
  width: 100%;
}

.site-navigation {
  padding-left: 20px;
}

.main-header-contacts-block {
  width: 100%;
  margin-left: auto;
  text-align: right;
}

.advantage-block-1 {
  background: #9b2a4a url(../img/fon/block-1.jpg);
}

.advantages h2 {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.advantages p {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}

.advantages .button {
  position: absolute;
  right: 21px;
  bottom: 21px;
}

.advantage-block-2 {
  background: #512f21 url(../img/fon/block-2.jpg);
}

.section-block-1 {
  background: #fff url(../img/fon/block-3.jpg);
  color: #333333;
}

.section-block-1 a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  border: 0;
  text-decoration: underline;
  vertical-align: top;
}

.section-block-1 p {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.f-block-wrapper {
  display: inline-block;
  left: 25px;
  position: absolute;
  text-align: left;
  width: 285px;
}

.subscription-form {
  width: 90%;
  position: absolute;
  bottom: 35px;
}

.subscription-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-social {
  width: 300px;
}

.footer-info {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: left;
}

.footer-copyright {
  width: 220px;
  line-height: 3px;
}

.footer-row {
  display: flex;
  flex-direction: column;
}

.footer-row:first-child {
  margin-right: 40px;
}

/*Окна по наведению на элемент*/

.sub-menu {
  position: absolute;
  top: 35px;
  left: 0;
  box-sizing: border-box;
  width: 143px;
  margin-left: -7px;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.search-form-wrapper {
  top: 35px;
  left: -305px;
  width: 340px;
  min-height: 84px;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.search-form-wrapper .input {
  margin-top: 15px;
  width: 90%;
}

.sub-menu a,
.site-navigation a {
  display: block;
  padding: 7px 15px;
  white-space: nowrap;
}

.sub-menu a:hover,
.sub-menu a:active,
.site-navigation a:hover,
.site-navigation a:active {
  background-color: #f7f6f3;
  color: #333333;
}

.main-navigation-container:hover>a {
  background-color: #f7f6f3;
}

.main-navigation-container>a {
  margin-right: 4px;
  margin-left: 1px;
  padding: 7px 12px 6px 14px;
}

.sub-menu li {
  padding: 0;
}

.sub-menu li:first-child {
  display: block;
  width: 113px;
  margin-right: 8px;
  margin-top: 0px;
  margin-left: 6px;
  padding-top: 11px;
  padding-bottom: 4px;
  padding-left: 16px;
  border-bottom: 1px solid #d1d0ce;
  min-height: 17px;
}

.contacts {
  position: absolute;
  top: 55px;
  right: 25px;
  width: 302px;
  height: 305px;
  box-sizing: border-box;
  padding: 21px 26px;
  border-radius: 14px;
  color: #343434;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.contacts .s-block-wrapper {
  max-width: 220px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  margin-bottom: 30px;
}

.address-info {
  margin-bottom: 20px;
}

.contacts p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 2px;
}

.contacts .contacts-time {
  margin-top: -1px;
}

.contacts span {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}

/*Вспомогательные стили*/

.input {
  box-sizing: border-box;
  width: 241px;
  margin-right: 15px;
  padding: 10px 14px;
  overflow: hidden;
  line-height: 24px;
  white-space: nowrap;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  box-shadow: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.input[type=email]:hover,
.input[type=password]:hover,
.input[type=search]:hover,
.input[type=text]:hover {
  padding: 9px 13px;
  border: 2px solid rgba(154, 154, 154, .52);
}

.input[type=email]:focus,
.input[type=password]:focus,
.input[type=search]:focus,
.input[type=text]:focus {
  padding: 9px 13px;
  font-weight: 700;
  border: 2px solid rgba(46, 136, 228, .52);
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.subscription-wrapper .input {
  width: 350px;
}

.icon {
  fill: #ffb600;
}

.row-flex-sec {
  flex-direction: column;
  margin-right: 25px;
  margin-left: 25px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.row-flex {
  flex-direction: column;
  list-style: none;
  padding-right: 10px;
  box-sizing: border-box;
}

.slide {
  display: none;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/product-images/ice-creams-1.png);
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/product-images/ice-creams-2.png);
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/product-images/ice-creams-3.png);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  width: 267px;
  font-size: 0;
}

.product-item:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 104%;
  height: 110%;
  margin-top: -3%;
  margin-left: -2%;
  background-color: #ffffff33;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  z-index: 1;
}

.product-item:hover .btn-hidden {
  display: block;
  position: absolute;
  top: 93%;
  left: 25px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
  z-index: 1;
}

.btn-wrapper {
  background-color: #ffffff4d;
}

.product-item .product-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.product-item .product-item-price-small {
  font-size: 30px;
  font-weight: 700;
}

.product-item-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.heat::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../img/hit.svg);
  background-position: -122px -61px;
}

.product-item-text {
  word-spacing: -5px;
  text-align: left;
  margin-top: -75px;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.advantage-block>.button {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

.link {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #a1b5aa;
  padding: 0;
}

.link-none {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover,
a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.button {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.btn-hidden {
  display: none;
}

.btn-big {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  color: #fff;
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.filter-button {
  margin-top: 21px;
  padding: 7px 26px;
  font-weight: 500;
  line-height: 18px;
  border: 2px solid #fff;
  border-radius: 19px;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  font-size: 16px;
}

.filter-button:hover {
  color: #333333;
  background-color: #fff;
}

.filter-button:active {
  background-color: #ededed;
}

.main-nav-item .main-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.main-nav-item .main-item:hover {
  border-radius: 14px;
}

.main-nav-item a,
.catalog-item-title {
  font-weight: 700;
}

.main-nav-item a:hover {
  text-decoration: none;
}

.sub-menu,
.search-form-wrapper,
.login-form-wrapper {
  box-sizing: border-box;
  display: none;
  min-height: 84px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form {
  width: 341px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}

.search-form-wrapper,
.login-form-wrapper,
.shopping-basket-wrapper {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 20;
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.shopping-basket-wrapper {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 20;
  display: none;
  box-sizing: border-box;
  width: 540px;
  padding: 15px 15px 20px;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.shopping-basket {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 20px;
}

.shopping-basket td {
  padding-right: 5px;
  padding-bottom: 15px;
  vertical-align: middle;
}

.shopping-basket td:first-child {
  width: 20px;
}

.shopping-basket td:nth-child(2) {
  width: 35px;
}

.shopping-basket td:nth-child(3) {
  width: 235px;
  padding-right: 10px;
}

.delete-product-item {
  width: 11px;
  height: 11px;
  font-size: 0;
  background: url(../img/cross-small.svg) no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-img img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.login-form-wrapper {
  width: 277px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  box-sizing: border-box;
}

.main-nav-item:hover .sub-menu {
  display: block;
}

.search:hover .search-form-wrapper {
  display: block;
}

.shopping:hover .shopping-basket-wrapper {
  display: block;
}

.login:hover .login-form-wrapper {
  display: block;
}

.header-btn:hover path,
.header-btn:focus path {
  fill: #000000;
}

.search svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.login svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.shopping svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.social-button {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 15px;
  margin-left: 3px;
  vertical-align: top;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6), inset 0 0 0 1px rgba(255, 255, 255, .6);
  opacity: .8;
  font-size: 0;
}

.social-button:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .7), inset 0 0 0 1px rgba(255, 255, 255, .6);
  opacity: 1;
}

.btn-twitter {
  background: url(../img/twitter.svg) no-repeat;
}

.btn-instagram {
  background: url(../img/instagram.svg) no-repeat;
}

.btn-facebook {
  background: url(../img/fb.svg) no-repeat;
}

.btn-vk {
  background: url(../img/vk.svg) no-repeat;
}

.user-navigation {
  margin-top: 12px;
  text-align: right;
}

.search {
  display: inline-block;
  text-align: left;
  position: relative;
}

.login {
  display: inline-block;
  text-align: left;
  position: relative;
}

.site-navigation a,
.sub-menu a,
.user-navigation a {
  color: white;
}

.sub-menu,
.sub-menu a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.breadcrumbs-list li {
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  color: #fff;
}

.catalog-item a:hover {
  background-color: #fbded7;
}

.catalog-item a:active {
  background-color: #f6b5a5;
}

.catalog-item-current a {
  color: #ffffff;
  background-color: #d07058;
}

.main-current {
  background-color: #d07058;
  border-radius: 14px;
}

.search-btn,
.login-btn,
.shopping-btn {
  text-decoration: none;
}

.search-btn {
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
}

.login-btn,
.shopping-btn {
  display: block;
  margin-top: 0;
  padding: 8px 8px 8px 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.login-btn .button {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 21px;
}

.header-btn {
  position: relative;
  display: inline-block;
  height: 32px;
  margin-left: 6px;
  line-height: 16px;
  vertical-align: top;
  text-align: left;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .2);
}

.header-btn:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 200px;
}

.help-button {
  float: right;
}

.search a,
.login a,
.shopping a {
  font-weight: 700;
}

.search a:hover,
.login a:hover,
.shopping a:hover,
.header-btn:hover {
  border-radius: 15px;
  background-color: #ededed;
  color: #333333;
}

.search-form-wrapper button,
.login-form-wrapper button,
.shopping-basket-wrapper button {
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.shopping-basket-wrapper .button {
  margin-left: 325px;
  margin-top: 20px;
}

.search-form a,
.login-form-wrapper a,
.shopping-basket-wrapper a {
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.shopping-basket-wrapper a {
  text-decoration: none;
}

.shopping-basket-wrapper .item-price {
  color: #999999;
}

.shopping-basket-wrapper .total-price {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.work-time-info p {
  font-weight: 700;
}

.phone-info a {
  font-weight: 900;
  text-decoration: none;
  font-size: 22px;
}

.slide-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls label {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.advantage-block h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.advantage-block p {
  font-size: 17px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}

.gllacy-rewiev-list {
  display: flex;
  justify-content: space-around;
  color: #333333;
}

.gllacy-rewiev-item {
  padding-left: 57px;
  position: relative;
}

.gllacy-rewiev h4 {
  padding-right: 90px;
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.gllacy-rewiev-item p,
.subscription p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.gllacy-blog-news p {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.gllacy-blog-news a {
  margin-right: 50%;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration-color: inherit;
}

.footer-info a,
.footer-copyright a {
  font-size: 13px;
}

.icon-ice-cream:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/ice-cream.svg) no-repeat;
}

.icon-eco:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/eco.svg) no-repeat;
}

.icon-cow:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/cow.svg) no-repeat;
}

.icon-thermometer:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/thermometer.svg) no-repeat;
}

.breadcrumbs {
  margin-left: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  padding-right: 18px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #fff;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  right: 4px;
  z-index: 1;
  top: 0;
  color: rgb(255, 255, 255);
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  right: 4px;
  z-index: 1;
  top: 0;
  color: rgb(255, 255, 255);
}

.breadcrumbs li:last-child::after {
  content: "";
}

.product-pages-pagination {
  margin: 35px 0 30px;
  display: flex;
  justify-content: flex-end;
}

.product-pages-pagination-list {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-pages-pagination .product-nav {
  display: block;
  width: 30px;
  height: 30px;
}

.product-pages-pagination .product-nav a {
  display: block;
  font-size: 0;
}

.product-page:hover {
  display: block;
  border-radius: 50%;
  background: #ffffff33;
}

.product-page:hover a {
  text-decoration: none;
  color: #fff;
}

.product-item-current:hover {
  display: block;
  border-radius: 50%;
  background: #fff;
}

.product-item-current:hover a {
  text-decoration: none;
  color: #333333;
}

.product-page:active,
.product-item-current {
  display: block;
  border-radius: 50%;
  background: #fff;
}

.product-page:active a,
.product-item-current a {
  text-decoration: none;
  color: #333333;
}

.product-page {
  width: 17px;
  height: 22px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 5px 5px 0;
  text-align: center;
}

.btn-next {
  background: url(../img/icon-right-small.svg) no-repeat;
  transform: rotate(180deg);
}

.btn-back {
  background: url(../img/icon-right-small.svg) no-repeat;
  background-position-y: bottom;
}

.product-category legend,
.item-sort legend {
  padding-left: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.product-filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 40px;
}

.product-filters fieldset {
  margin: 0;
  padding: 5px 17px 17px 0;
  border: none;
}

.product-category .product-filter-item,
select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: max-content;
  font-size: 16px;
  height: 36px;
  padding: 0 27px 0 27px;
  line-height: 30px;
  color: #eff4f1;
  border-radius: 18px;
  outline: none;
  background-color: rgba(255, 255, 255, .2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-filter-item-check,
.item-price {
  background-color: rgba(255, 255, 255, .2);
}

.product-filter-item>.filter-option {
  height: 36px;
  padding: 0 15px;
  line-height: 32px;
  border-radius: 18px;
}

input[type=range] {
  width: 178px;
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;
  background: 0 0;
  border: none;
  -webkit-appearance: none
}

.product-range {
  display: block;
  height: 36px;
  padding: 0 15px;
  line-height: 36px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, .2);
}

}

input.second-range {
  width: 100px;
}

input.second-range[type=range]::-webkit-slider-runnable-track {
  background: #fff
}

input.second-range[type=range]::-moz-range-track {
  background: #fff
}

input[type=range]:focus {
  outline: none
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5)
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5)
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5);
  background: #fff
}

input[type=range]::-ms-fill-lower {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5)
}

input[type=range]::-ms-fill-upper {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5)
}

input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none
}

input[type=range]:focus::-ms-fill-lower {
  background: #fff
}

input[type=range]:focus::-ms-fill-upper {
  background: #fff
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

.product-filter-item input[type=checkbox]+label::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: -15px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url(../img/checkbox-off.svg) no-repeat;
}

.product-filter-item input[type=radio]+label::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: -15px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url(../img/radio-off.svg) no-repeat;
}

input[type="checkbox"]:checked~label::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: -15px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url(../img/checkbox-on.svg) no-repeat;
}

input[type="radio"]:checked~label::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: -15px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url(../img/radio-on.svg) no-repeat;
}

label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

input.second-range {
  width: 100px;
  margin-left: -153px;
}

.card {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 15px 20px 93px;
  border-radius: 15px;
  width: 560px;
  min-height: 110px;
}

.section-block-2 {
  border-radius: 15px;
}

.card-transform {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 15px 20px 93px;
  width: 560px;
  min-height: 110px;
  padding: 1px 0;
  color: #333333;
  background: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.s-block-wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 4px 5px;
  background-color: #f8f7f4;
  border-radius: 10px;
  min-height: 210px;
  padding: 15px 23px 75px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.suppliers-img {
  position: relative;
}

.suppliers-img:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 13px;
  background: url(../img/heart.svg) no-repeat;
  left: -20px;
}
